/* 
Contents
  Fonts - Roboto and Roboto Mono
  Variables and Document-Level Classes
  Typography
  Document Styling 
    Hero Section
    Call to Action
    Social Media
    Mailing List
*/

/* Fonts - Roboto and Roboto Mono */
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@200;300;400;500;600;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

/* Variables */
:root {
  --clr-black: hsla(0, 0%, 0%, 1);
  --clr-nav-black: hsla(0, 0%, 0%, .75);
  --clr-gold: hsla(42, 82%, 43%, 1);
  --clr-red: hsla(350, 85%, 42%, 1);
  --clr-blue: hsla(219, 100%, 18%, 1);
  --clr-white: hsla(0, 0%, 100%, 1);

  --ff-main: 'Roboto', sans-serif;
  --ff-mono: 'Roboto Mono', monospace;

  --padding-master: max(2rem, 8%);
  --navigation-height: 4rem;

  --font-scaling-title: clamp(1.25rem, 6vw, 2rem);
  --font-scaling-sub: clamp(0.5rem, 5vw, 1rem);
}

/* Typography */
html {
  font-family: var(--ff-main);
  font-size: 1.125rem;
  font-weight: 500;
  max-width: 1920px;
 }

header,
footer {
  font-family: var(--ff-mono);
  font-weight: 700;
  text-transform: uppercase;
}

/* Document Styling */

/* Hero Section */
.section-hero {
  background: var(--clr-black);
  background: linear-gradient(160deg, var(--clr-black) 35%, var(--clr-red) 70%, var(--clr-gold) 100%);
  width: 100%;
  padding-top: var(--navigation-height);
}

.hero-image img {
  max-width: 95%;
  display: block;
  margin: 0 auto;
  padding-top: 1rem;
}

.hero-text {
  text-align: center;
  margin: 0 auto;
  padding: 0 var(--padding-master);
}

.headline {
  font-size: var(--font-scaling-title);
  font-weight: 600;
  color: var(--clr-white);
  padding-top: 1.5rem;
}

.headline-highlight {
  color: var(--clr-gold);
}

.byline {
  font-size: var(--font-scaling-sub);
  font-weight: 400;
  max-width: 15rem;
  margin: 0 auto;
  color: var(--clr-white);
  padding-top: 1.5rem;
  padding-bottom: 4rem;
}

/* Call to Action */
.section-call-to-action {
  background-color: var(--clr-white);
  text-align: center;
  padding: 4rem var(--padding-master) 3rem var(--padding-master);
}

.listen-container {
  max-width: 25rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(4, 1fr);
  grid-template-areas: 
    "anchor anchor"
    "anchor anchor"
    "apple spotify"
    "youtube google";
  align-items: center;
  justify-items: center;
  margin: auto;
}

.section-call-to-action img {
  max-width: 95%;
  border-radius: 2rem;
}

.listen-now {
  font-size: var(--font-scaling-title);
  font-weight: 400;
  max-width: 25rem;
  margin: 0 auto;
  color: var(--clr-blue);
  padding-bottom: 3rem;
}

#listen-anchor {
  grid-area: anchor;
  padding-bottom: 2rem;
}

#listen-apple {
  grid-area: apple;
}

#listen-spotify {
  grid-area: spotify;
}

#listen-youtube {
  grid-area: youtube;
}

#listen-google {
  grid-area: google;
}

/* Social Media */
.section-social-media {
  background-color: var(--clr-black);
  text-align: center;
  padding: 4rem var(--padding-master);
}

.socials {
  color: var(--clr-red);
  text-transform: uppercase;
  font-size: var(--font-scaling-title);
  line-height: 1.5rem;
  max-width: 12rem;
  font-weight: 400;
  margin: 0 auto;
}

.like-subscribe {
  color: var(--clr-gold);
  text-transform: uppercase;
  font-size: var(--font-scaling-sub);
  line-height: 1.125rem;
  font-weight: 300;
  max-width: 10rem;
  padding: 1rem 0;
  margin: 0 auto;
}

@media screen and (min-width: 510px) {
  .socials {
    max-width: 35rem;
  }

  .like-subscribe {
    max-width: 50rem;
  }
}

.youtube-link {
  position: relative;
  width: 100%;
  max-width: 720px;
  padding-bottom: 56.25%; 
  height: 0;  
  margin: 2rem auto;

}
.youtube-link iframe {
  position: absolute;
  top:0;
  left: 0;
  width: 100%;
  height: 100%;
}

.all-platforms {
  max-width: 400px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-template-areas: 
    "youtube twitter"
    "facebook instagram";
  align-items: center;
  justify-items: center;
  margin: 0 auto;
}

#social-youtube {
  grid-area: youtube;
}

#social-twitter {
  grid-area: twitter;
}

#social-facebook {
  grid-area: facebook;
}

#social-instagram {
  grid-area: instagram;
}

.all-platforms img {
  max-width: 100%;
  padding: 1rem;
}

/* Mailing List */
.section-mailing-list {
  background-color: var(--clr-white);
  text-align: center;
  padding: 3rem var(--padding-master);
  color: var(--clr-blue);
}

.first-to-know {
  text-transform: uppercase;
  font-size: var(--font-scaling-title);
  font-weight: 700;
}

.mailing-action {
  font-size: var(--font-scaling-sub);
  font-weight: 300;
  padding: 1rem 0 2rem 0;
  max-width: 13rem;
  margin: 0 auto;
}

@media screen and (min-width: 400px) {
  .mailing-action {
    max-width: 22rem;
  }
}

.section-mailing-list input {
  width: 100%;
  border: 1px solid var(--clr-blue);
  border-radius: 0.25rem;
  line-height: 1.5rem;
  padding: 0 1rem;
}
