/* 
Contents
  Fonts - Roboto and Roboto Mono
  Variables and Document-Level Classes
  Typography
  Document Styling 
    Header
    Hero Section
    Call to Action
    Social Media
    Mailing List
    Footer
*/


/* Fonts - Roboto and Roboto Mono */
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@200;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

/* Variables and Document-Level Classes */
:root {
  --clr-black: hsla(0, 0%, 0%, 1);
  --clr-nav-black: hsla(0, 0%, 0%, .75);
  --clr-gold: hsla(42, 82%, 43%, 1);
  --clr-red: hsla(350, 85%, 42%, 1);
  --clr-blue: hsla(219, 100%, 18%, 1);
  --clr-white: hsla(0, 0%, 100%, 1);

  --ff-main: 'Roboto', sans-serif;
  --ff-mono: 'Roboto Mono', monospace;

  --padding-master: max(2rem, 8%);
  --navigation-height: 5rem;
  --logo-height: 2.5rem; /* should be half nav-height */
}

.visuallyhidden {
  display: none;
}

/* Typography */
html {
  font-family: var(--ff-main);
  font-size: 1.125rem;
  font-weight: 500;
  max-width: 1920px;
 }

header,
footer {
  font-family: var(--ff-mono);
  font-weight: 700;
  text-transform: uppercase;
}

/* Document Styling */
/* Header */
header {
  background-color: var(--clr-nav-black);
  position: fixed;
  width: 100%;
  z-index: 999;
  display: flex;
  align-items: center;
  height: var(--navigation-height);
  justify-content: space-between;
  padding-left: var(--padding-master);
  padding-right: var(--padding-master);
}

.logo-image {
  height: var(--logo-height);
} 

.main-nav {
  position: absolute;
  text-align: right;
  top: 100%;
  right: 0;
  padding-right: var(--padding-master);
  background-color: var(--clr-nav-black);
  width: 100%;
}

.main-nav li {
  padding-bottom: 2rem;
}

.main-nav li:nth-child(1) {
  padding-top: 1rem;
}

.main-nav a {
  color: var(--clr-white);
  text-decoration: none;
  opacity: 0;
}

.main-nav a:hover,
.main-nav a:focus {
  color: var(--clr-gold);
}

nav {
  transform: scale(1, 0);
  transition: transform 250ms ease-in-out;
  transform-origin: top;
}

.nav-toggle:checked ~ nav {
  transform: scale(1, 1);
}

.nav-toggle:checked ~ nav a {
  opacity: 1;
  transition: opacity 250ms ease-in-out 100ms;
}

.nav-toggle {
  display: none;
}

.nav-toggle-burger span,
.nav-toggle-burger span::before,
.nav-toggle-burger span::after {
  background: white;
  height: 0.125rem;
  width: 2rem;
  display: block;
  border-radius: 3rem;
}

.nav-toggle-burger span::before,
.nav-toggle-burger span::after {
  content: '';
  position: absolute;
}

.nav-toggle-burger span::before {
  top: 2rem;
}

.nav-toggle-burger span::after {
  bottom: 2rem;
}

/* Desktop navigation
.main-nav ul {
  display: flex;
  justify-content: flex-end;
}

.main-nav li {
  margin-left: 3rem;
}

.main-nav a {
  color: var(--clr-white);
  text-decoration: none;
}

.main-nav a:hover,
.main-nav a:focus {
  color: var(--clr-gold);
} */

/* Hero Section */
.section-hero {
  background: var(--clr-black);
  background: linear-gradient(160deg, var(--clr-black) 35%, var(--clr-red) 70%, var(--clr-gold) 100%);
  padding-top: var(--navigation-height);
}

.hero-image img {
  max-width: 95%;
  display: block;
  margin: 0 auto;
  padding-top: 1rem;
}

.hero-text {
  max-width: 25rem;
  text-align: center;
  margin: 0 auto;
}

.headline {
  font-size: 2.5rem;
  font-weight: 600;
  color: var(--clr-white);
  padding-top: 1.5rem;
}

.headline-highlight {
  color: var(--clr-gold);
}

.byline {
  font-weight: 400;
  max-width: 15rem;
  margin: 0 auto;
  color: var(--clr-white);
  padding-top: 1.5rem;
  padding-bottom: 5rem;
}

/* Call to Action */
.section-call-to-action {
  background-color: var(--clr-white);
  text-align: center;
  padding: 4rem var(--padding-master) 3rem var(--padding-master);
}

.listen-container {
  max-width: 400px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(4, 1fr);
  grid-template-areas: 
    "anchor anchor"
    "anchor anchor"
    "apple spotify"
    "youtube google";
  align-items: center;
  justify-items: center;
  margin: auto;
}

.section-call-to-action img {
  max-width: 95%;
  border-radius: 2rem;
}

.listen-now {
  font-size: 2rem;
  font-weight: 400;
  max-width: 25rem;
  margin: 0 auto;
  color: var(--clr-blue);
  padding-bottom: 3rem;
}

#listen-anchor {
  grid-area: anchor;
  padding-bottom: 2rem;
}

#listen-apple {
  grid-area: apple;
}

#listen-spotify {
  grid-area: spotify;
}

#listen-youtube {
  grid-area: youtube;
}

#listen-google {
  grid-area: google;
}

/* Social Media */
.section-social-media {
  background-color: var(--clr-black);
  text-align: center;
  padding: 4rem var(--padding-master);
}

.socials {
  color: var(--clr-red);
  text-transform: uppercase;
  font-size: 2rem;
  line-height: 2.125rem;
  max-width: 20rem;
  margin: 0 auto;
}

.like-subscribe {
  color: var(--clr-gold);
  text-transform: uppercase;
  line-height: 1.125rem;
  font-weight: 400;
  padding: 1rem 0;
}

.youtube-link {
  position: relative;
  width: 100%;
  max-width: 720px;
  padding-bottom: 56.25%; 
  height: 0;  
  margin: 3rem auto;

}
.youtube-link iframe {
  position: absolute;
  top:0;
  left: 0;
  width: 100%;
  height: 100%;
}

.all-platforms {
  max-width: 400px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-template-areas: 
    "youtube twitter"
    "facebook instagram";
  align-items: center;
  justify-items: center;
  margin: 0 auto;
}

#social-youtube {
  grid-area: youtube;
}

#social-twitter {
  grid-area: twitter;
}

#social-facebook {
  grid-area: facebook;
}

#social-instagram {
  grid-area: instagram;
}

.all-platforms img {
  max-width: 100%;
  padding: 1rem;
}

/* Mailing List */
.section-mailing-list {
  background-color: var(--clr-white);
  text-align: center;
  padding: 4rem var(--padding-master);
  color: var(--clr-blue);
}

.first-to-know {
  text-transform: uppercase;
  font-size: 2.5rem;
  font-weight: 700;
}

.mailing-action {
  font-weight: 400;
  padding: .5rem;
}

/* Footer */
footer {
  background-color: var(--clr-black);
  display: flex;
  align-items: center;
  height: 6rem;
  padding-left: var(--padding-master);
  padding-right: var(--padding-master);
}

.copyright {
  width: 60%;
  color: var(--clr-white);
}

.footer-nav {
  width: 40%;
}

.footer-nav ul {
  display: flex;
  justify-content: flex-end;
}

.footer-nav li {
  margin-left: 3rem;
}

.footer-nav a {
  color: var(--clr-white);
  text-decoration: none;
}

.footer-nav a:hover,
.footer-nav a:focus {
  color: var(--clr-gold);
}





/* large screen size 
.listen-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-template-areas: 
    "anchor anchor apple spotify"
    "anchor anchor youtube google";
  align-items: center;
  justify-items: center;
  margin: auto;

} */