/* 
Contents
  Fonts - Roboto and Roboto Mono
  Variables and Document-Level Classes
  Typography
  Document Styling 
    Hero Section
    Call to Action
    Social Media
    Contact Us
*/

/* Fonts - Roboto and Roboto Mono */
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@200;300;400;500;600;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

/* Variables */
:root {
  --clr-black: hsla(0, 0%, 0%, 1);
  --clr-nav-black: hsla(0, 0%, 0%, .75);
  --clr-gold: hsla(42, 82%, 43%, 1);
  --clr-red: hsla(350, 85%, 42%, 1);
  --clr-blue: hsla(219, 100%, 18%, 1);
  --clr-white: hsla(0, 0%, 100%, 1);

  --ff-main: 'Roboto', sans-serif;
  --ff-mono: 'Roboto Mono', monospace;

  --padding-master: 10%;
  --padding-master-large: max(12%, calc((100% - 1440px) / 2) ) ;
  --navigation-height: 4rem;
}

/* Typography */
html {
  font-family: var(--ff-main);
  font-size: 1.125rem;
  font-weight: 500;
  max-width: 1920px;
  background-color: black;
 }

header,
footer {
  font-family: var(--ff-mono);
  font-weight: 700;
  text-transform: uppercase;
}

/* Document Styling */

@media screen and (min-width: 1680px) {
  :root {
    --padding-master: var(--padding-master-large);
  }
}

/* Hero Section */
.section-hero {
  background: var(--clr-black);
  background: linear-gradient(160deg, var(--clr-black) 35%, var(--clr-red) 70%, var(--clr-gold) 100%);
  width: 100%;
  padding: var(--navigation-height) var(--padding-master);
}

.hero-image img {
  max-width: 95%;
  display: block;
  margin: 0 auto;
  padding-top: 1rem;
}

.hero-text {
  text-align: center;
  margin: 0 auto;
}

.headline {
  font-size: 1.5rem;
  font-weight: 600;
  color: var(--clr-white);
  padding-top: 1.5rem;
}

.headline-highlight {
  color: var(--clr-gold);
}

.byline {
  font-size: 0.875rem;
  font-weight: 400;
  max-width: 15rem;
  margin: 0 auto;
  color: var(--clr-white);
  padding-top: 1.5rem;
  padding-bottom: 1rem;
}

@media screen and (min-width: 50rem) {
  .headline {
    font-size: 2rem;
  }

  .byline {
    font-size: 1rem;
  }
}

@media screen and (min-width: 64rem) {
  .section-hero {
    background: var(--clr-black);
    background: linear-gradient(167deg, var(--clr-black) 35%, var(--clr-red) 70%, var(--clr-gold) 100%);  
    display: grid;
    grid-template-columns: 45% 55%;
    grid-template-areas: "text image";
    align-items: center;
  }

  .hero-image {
    grid-area: image;
  }

  .hero-image img {
    margin-right: 0;
  }

  .hero-text {
    grid-area: text;
    text-align: left;
    margin-left: 0;
  }

  .byline {
    max-width: 18rem;
    margin: 0;
  }
}

@media screen and (min-width: 80rem) {
  .headline {
    font-size: 2.5rem;
  }

  .byline {
    font-size: 1.25rem;
    max-width: 21rem;
  }
}

/* Call to Action */
.section-call-to-action {
  background-color: var(--clr-white);
  text-align: center;
  padding: 4rem var(--padding-master) 3rem var(--padding-master);
}

.section-call-to-action img {
  max-width: 100%;
  max-height: 100%;
  margin: auto;
  transition: scale 2000ms ease-in-out 120ms;
}

.listen-large {
  border-radius: 2rem;
}

.listen-large:hover,
.listen-large:focus {
  transform: scale(1.1);
}

.listen-small {
  border-radius: 100vw;
}

.listen-small:hover,
.listen-small:focus {
  transform: scale(1.2);
}

.listen-now {
  font-size: 1.5rem;
  font-weight: 400;
  max-width: 20rem;
  margin: 0 auto;
  color: var(--clr-blue);
  padding-bottom: 3rem;
}

.listen-container {
  max-width: 25rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(4, 1fr);
  grid-template-areas: 
    "anchor anchor"
    "anchor anchor"
    "apple spotify"
    "youtube google";
  align-items: center;
  justify-items: center;
  margin: auto;
}

#listen-anchor {
  grid-area: anchor;
  padding-bottom: 2rem;
}

#listen-apple {
  grid-area: apple;
  border-radius: 100vw;
}

#listen-spotify {
  grid-area: spotify;
}

#listen-youtube {
  grid-area: youtube;
}

#listen-google {
  grid-area: google;
}

@media screen and (min-width: 32.5rem) {
  .listen-now {
    font-size: 1.75rem;
  }
}

@media screen and (min-width: 50rem) {
  .listen-now {
    max-width: 60rem;
    font-size: 2rem;
  }
}

@media screen and (min-width: 64rem) {
  .section-call-to-action {
    padding: 5rem var(--padding-master);
  }

  .listen-container {
    max-width: 50rem;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-template-areas: 
      "anchor anchor . apple spotify"
      "anchor anchor . youtube google";
  }

  .listen-now {
    padding-bottom: 4rem;
  }

  #listen-anchor {
    padding-bottom: 0;
  }
}

@media screen and (min-width: 80rem) {
  .listen-now {
    font-size: 2.5rem;
  }
}

/* Social Media */
.section-social-media {
  background-color: var(--clr-black);
  text-align: center;
  padding: 4rem var(--padding-master) 6rem var(--padding-master);
}

.socials {
  color: var(--clr-red);
  text-transform: uppercase;
  font-size: 1.25rem;
  line-height: 1.5rem;
  font-weight: 400;
  margin: 0 auto;
}

.like-subscribe {
  color: var(--clr-gold);
  text-transform: uppercase;
  font-size: 0.875rem;
  line-height: 1.125rem;
  font-weight: 400;
  max-width: 10rem;
  padding: 1rem 0;
  margin: 0 auto;
}

.youtube-link {
  position: relative;
  width: 100%;
  max-width: 426px;
  padding-bottom: 240px; 
  height: 0;  
  margin: 0 auto;
}

.youtube-link iframe {
  position: absolute;
  top: 20%;
  left: 0;
  width: min(426px, 100%);
  height: min(240px, 100%);
}

.all-platforms {
  max-width: 18rem;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(1, 1fr);
  grid-template-areas: 
    "youtube twitter facebook instagram";
  align-items: center;
  justify-items: center;
  margin: auto;
  padding-top: 2rem;
}

.all-platforms img {
  max-width: 100%;
  border-radius: 2rem;
  margin: auto;
  transition: scale 75ms ease-in-out 120ms;
}

.all-platforms div {
  padding: 0 0.5rem;
}

.social-hover {
  border-radius: 100vw;
}

.social-hover:hover,
.social-hover:focus {
  transform: scale(1.2);
}

#social-youtube {
  grid-area: youtube;
}

#social-twitter {
  grid-area: twitter;
}

#social-facebook {
  grid-area: facebook;
}

#social-instagram {
  grid-area: instagram;
}

@media screen and (min-width: 32.5rem) {
  .section-social-media {
    padding: 5rem var(--padding-master) 7rem var(--padding-master);
  }
  
  .socials {
    max-width: 35rem;
    font-size: 1.6rem;
    font-weight: 500;
  }

  .like-subscribe {
    max-width: 50rem;
  }

  .all-platforms {
    max-width: 20rem;
  }
}

@media screen and (min-width: 44rem) {
  .socials {
    font-size: 2.125rem;
  }

  .like-subscribe {
    font-size: 1.25rem;
  }
}

@media screen and (min-width: 50rem) {
  .section-social-media {
    padding: 6rem var(--padding-master) 8rem var(--padding-master);
  }
}

@media screen and (min-width: 64rem) {
  .section-social-media {
    padding: 6rem var(--padding-master) 10rem var(--padding-master);
  }

  .all-platforms {
    max-width: 40rem;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(1, 1fr);
    grid-template-areas: 
      "youtube twitter facebook instagram";
    height: auto;
    padding: 5rem 0 2rem 0;
  }

  .youtube-link {
    max-width: 640px;
    padding-bottom: 360px; 
  }
  
  .youtube-link iframe {
    width: min(640px, 100%);
    height: min(360px, 100%);
  }
}

@media screen and (min-width: 80rem) {
  .socials {
    font-size: 2.75rem;
    max-width: 50rem;
  }

  .like-subscribe {
    font-size: 1.5rem;
    padding: 1.5rem 0;
  }
}

/* Contact Us */
.section-contact {
  background-color: var(--clr-white);
  text-align: center;
  padding: 4rem var(--padding-master) 3rem var(--padding-master);
  color: var(--clr-blue);
}

.section-contact img {
  max-width: 100%;
  border-radius: 1rem;
}

.contact-us {
  text-transform: uppercase;
  font-size: 1.5rem;
  font-weight: 700;
  padding-top: 2rem;
}

.get-in-touch {
  font-size: 0.875rem;
  font-weight: 300;
  padding-bottom: 1rem;
}

.mail-to {
  max-width: 18rem;
  margin: 0 auto;
  font-size: 1rem;
  padding: 2rem 0;
}

.mail-to a {
  border: 1px solid var(--clr-blue);
  border-radius: 100vw;
  color: var(--clr-blue);
  text-decoration: none;
  padding: 0.5rem 2rem;
}

.mail-to a:hover {
  background-color: var(--clr-blue);
  color: var(--clr-white);
  border-radius: 100vw;;
}

@media screen and (min-width: 32.5rem) {
  .section-contact {
    padding: 5rem var(--padding-master) 4rem var(--padding-master);
  }

  .contact-us {
    font-size: 2rem;
    padding-top: 3rem;
  }

  .get-in-touch {
    font-size: 1.25rem;
    padding-top: 0.5rem;
    padding-bottom: 2.5rem;
  }

  .mail-to {
    font-size: 1.5rem;
    max-width: 22rem;
  }
}

@media screen and (min-width: 44rem) {
  .section-contact {
    padding: 6rem var(--padding-master) 5rem var(--padding-master);
  }


  .contact-us {
    font-size: 2.5rem;
    padding-top: 3rem;
  }

  .get-in-touch {
    font-size: 1.375rem;
    padding-top: 0.5rem;
    padding-bottom: 2.5rem;
  }

  .mail-to {
    font-size: 1.75rem;
    max-width: 25rem;
  }
}

@media screen and (min-width: 64rem) {
  .section-contact {
    padding: 5rem var(--padding-master);
  }

  .contact-container {
    display: grid;
    grid-template-columns: 60% 40%;
    grid-template-rows: repeat(1, 1fr);
    grid-template-areas: 
      "cdn-tire-center contact-info";
    align-items: center;
    justify-items: center;
    margin: auto;
  }
  
  .cdn-tire-center {
    grid-area: cdn-tire-center;
  }

  .contact-info {
    grid-area: contact-info;
  }

  .contact-us {
    font-size: 1.75rem;
    padding-top: 2rem;
  }

  .get-in-touch {
    font-size: 1rem;
    padding-top: 0.5rem;
    padding-bottom: 2.5rem;
  }

  .mail-to {
    font-size: 1.25rem;
  }

  .mail-to a {
    padding: 0.5rem 1rem;
  }
}

@media screen and (min-width: 80rem) {
  .section-contact {
    padding: 6rem var(--padding-master);
  }

  .contact-us {
    font-size: 2rem;
    padding-top: 2rem;
  }

  .get-in-touch {
    font-size: 1.25rem;
    padding-top: 0.5rem;
    padding-bottom: 2.5rem;
  }

  .mail-to {
    font-size: 1.5rem;
  }
  
  .mail-to a {
    padding: 0.5rem 1.5rem;
  }
}
